{% extends "pages/richtextpage.html" %}

{% block extra_head %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "news_feed" %}">
<style>
/* table formatting on Releases page */
#releases + table {
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

#releases + table > thead > tr > th,
#releases + table > tbody > tr > th,
#releases + table > tfoot > tr > th,
#releases + table > thead > tr > td,
#releases + table > tbody > tr > td,
#releases + table > tfoot > tr > td {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);
}
</style>
{% endblock %}
