Django<2.1
babel
mysqlclient
django-compressor
django-extensions
django-honeypot
django-log-request-id
django-memcache-status
mezzanine-pagedown
mezzanine-sync-pages
pygments
pylibmc
python-logstash-async
pymdown-extensions
pytz
uwsgi


# for development
django-debug-toolbar

# Mezzanine from GIT
# https://github.com/stephenmcd/mezzanine/issues/1899
git+https://github.com/stephenmcd/filebrowser-safe.git
git+https://github.com/stephenmcd/grappelli-safe.git
git+https://github.com/eht16/mezzanine.git@issue1899_keyword_update_with_django2_0#egg=mezzanine
