Mezzanine==6.*
babel
mysqlclient
django-clearcache
django-compressor
django-extensions
django-link-shortener
django-log-request-id
mezzanine-pagedown
mezzanine-sync-pages
packaging
pygments
pylibmc
python-logstash-async
pymdown-extensions
pytz
uwsgi


# for development
django-debug-toolbar
