Mezzanine==6.*
babel
mysqlclient
dj-cache-panel
django-compressor
django-extensions
django-link-shortener
django-log-request-id
hiredis
mezzanine-pagedown
mezzanine-sync-pages
packaging
pygments
python-logstash-async
pymdown-extensions
pytz
redis
uwsgi

# for development
django-debug-toolbar
