{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}


{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{{ page.title }}
{% else %}
{% trans "Home" %}
{% endif %}
{% endblock %}

{% block main %}

<div class="well">
{% include "about.html" %}
</div>

<div class="well">

    <h2>{% trans "News" %}</h2>

    {% for blog_post in blog_posts.object_list %}
    <div class="blog-entry">
        <div class="blog-right">{{ blog_post.publish_date|date:"l, d. F Y" }}</div>
        <h4>
            <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
        </h4>
    </div>
    {% endfor %}

    {% pagination_for blog_posts %}
</div>

<div class="well">
    <div class="row">
        <div class="col-md-3">
            {% include "donate.html" %}
        </div>
        <div class="col-md-offset-2 col-md-6">
            {% include "twitter/tweets.html" %}
        </div>
    </div>
</div>
{% endblock %}

