{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags i18n %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{{ blog_post.title }}
{% endblock %}

{% block main %}

<div class="small-margin">
<div class="well">

<div class="blog-right">{{ blog_post.publish_date|date:"l, d. F Y" }}</div>
<h2>
    {{ blog_post.title }}
</h2>

{{ blog_post.content|richtext_filters|safe }}


<hr>
{% block blog_post_detail_sharebuttons %}
{% set_short_url_for blog_post %}
<a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ blog_post.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}

</div>
</div>
{% endblock %}
