{% extends "pastebin/base.html" %}

{% block meta_title %}
    API Usage | {{ block.super }}
{% endblock %}


{% block main %}
<div class="well">

<h1>API</h1>

<p>The following Python 3 code can be used as a simple command line client for this
Pastebin service:</p>

<pre>#!/usr/bin/env python

import urllib.request, urllib.parse, urllib.error
import urllib.request, urllib.error, urllib.parse
import os
import sys

def paste_code():
    fields = []
    fields.append(('content', ''.join(sys.stdin.readlines())))
    fields.append(('author', os.getlogin()))
    fields.append(('lexer', 'python'))
    encoded_data = urllib.parse.urlencode(fields).encode('utf-8')
    request = urllib.request.Request(
        '{{ request.scheme }}://{{ request.get_host }}{% url 'snippet_api' %}',
        encoded_data,
    )
    response = urllib.request.urlopen(request)
    response_content = response.read()
    print(response_content.decode())

if __name__ == '__main__':
    paste_code()</pre>

<p>Save this script in <code>/usr/local/bin/gpaste</code> and <code>chmod +x /usr/local/bin/gpaste/</code>.</p>
<p>Usage: <code>cat foo.txt | gpaste</code></p>

<h2>Supported fields</h2>
<p>The only mandatory field is <strong>content</strong> which should contain the text to be pasted.</p>
<p>Other accepted, optional fields are:
<table class="table table-striped table-bordered">
<thead>
    <tr>
        <th>Field</th>
        <th>Possible values</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td class="nowrap">expires</td>
        <td>
            <ul>
                <li>3600 (1 hour)</li>
                <li>604800 (1 week)</li>
                <li>2592000 (1 month)</li>
            </ul>
        </td>
        <td>Time to live in seconds, defaults to 3600</td>
    </tr>
    <tr>
        <td>title</td>
        <td class="nowrap">Maximum 120 characters</td>
        <td>The title of this paste</td>
    </tr>
    <tr>
        <td>author</td>
        <td class="nowrap">Maximum 30 characters</td>
        <td>The author's name</td>
    </tr>
    <tr>
        <td>lexer</td>
        <td class="nowrap">python, text, php, perl, c, bash, ...</td>
        <td>The lexer to be used, all lexers supported by Pygments are possible and
            also most of Geany's filetype names (<code>geany --ft-names</code>)
        </td>
    </tr>
</tbody>
</table>
</p>

</div>
{% endblock %}
