{% extends "skel.html" %}
{% load static %}

{% block meta_title %}Pastebin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/pastebin.css" %}">
{% endblock %}

{% block top_menu %}
{% url 'snippet_new' as url_snippet_new %}
{% url 'snippet_help' as url_help %}
{% url 'snippet_help_api' as url_api %}
{% url 'snippet_list' as url_snippet_list %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="{% static "img/geany-36x36.png" %}" class="navbar-brand">
            <a href="{% url "home" %}" class="navbar-brand">Geany</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav" id="navbar">
                <li class="{% if request.path == url_snippet_new %} active{% endif %}">
                    <a href="{{ url_snippet_new }}">New snippet</a>
                </li>
                <li class="{% if request.path == url_help %} active{% endif %}">
                    <a href="{{ url_help }}">Help</a>
                </li>
                <li class="{% if request.path == url_api %} active{% endif %}">
                    <a href="{{ url_api }}">API</a>
                </li>
                <li class="{% if request.path == url_snippet_list %} active{% endif %}">
                    <a href="{{ url_snippet_list }}">Recent snippets</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
