{% extends "pastebin/base.html" %}

{% block meta_title %}
    Help | {{ block.super }}
{% endblock %}

{% block main %}
<div class="well">
<h1>Frequently Asked Questions</h1>

<h2>What is pastebin?</h2>
<p>This pastebin is here to help you collaborate on debugging code snippets. If you're not familiar with the idea,
most people use it like this:</p>
<ul>
<li><a href="{% url 'snippet_new' %}">submit</a> a code fragment to pastebin,
getting a url like {{ request.scheme }}://{{ request.get_host }}{% url 'snippet_details' 'abc1234' %}</li>
<li>paste the url into an IRC or IM conversation</li>
<li>someone responds by reading and perhaps submitting a modification of your code</li>
</ul>

<h2>How can I delete a post?</h2>
<p>Your posted snippets are remembered in your session, you will be able to delete the snippet from the same browser you posted from -
simply view the post and click the "delete" link.</p>
<p>In other cases, contact us and we will delete it for you.</p>

</div>
{% endblock %}
