{% extends "pastebin/base.html" %}
{% load pastebin_tags %}

{% block meta_title %}
    Snippet #{{ snippet.pk }} | {{ block.super }}
{% endblock %}


{% block main %}
<div class="well">

<h1>
    Snippet #{{ snippet.pk }}
</h1>

<div class="snippet-options">
    <abbr title="Time to life">TTL:</abbr> {{ snippet.expires|timeuntil_or_forever }}
    &mdash;
    {% if snippet.parent_id %}
        (Copy of <a href="{{ snippet.parent.get_absolute_url }}">snippet #{{ snippet.parent.id }}</a>)
        &mdash;
    {% endif %}
    <a id="word_wrap_toggle" href="#">Wordwrap</a>
    &mdash;
    <a href="{% url 'snippet_details_raw' snippet.secret_id %}">View raw</a>
</div>
<p>on <span class="date">{{ snippet.published|date:"Y/m/d G:i:s" }} (UTC)</span> by
                         {% if snippet.author %}{{ snippet.author }}{% else %}Anonymous{% endif %}
                         as {{ snippet.lexer|title }}</p>
<div class="tabbable">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#markup" data-toggle="tab" aria-controls="markup" role="tab">Markup</a></li>
        <li role="presentation"><a href="#plain" data-toggle="tab" aria-controls="plain" role="tab">Plain</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="markup">
            <div class="snippet">
                <ol>
                    {% for line in snippet|highlight %}
                        <li id="l{{ forloop.counter }}">
                            <div class="line"><pre class="highlight">{% if line %}{{ line|safe }}{% else %}&nbsp;{% endif %}</pre></div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="plain">
            <div class="snippet-plain">
                <textarea class="snippet-plain">{{ snippet.content }}</textarea>
            </div>
        </div>
    </div>
</div>

<hr/>

{% include "pastebin/snippet_list_embedded.html" %}

</div>
{% endblock %}



{% block footer_js %}
<script type="text/javascript">
jQuery(document).ready(function(){
    curLine = document.location.hash;
    if(curLine.substring(0,2) == '#l'){
        $('div.snippet div.line'+curLine).addClass('marked');
    }

    /* JQuery 1.9 removed toggle-event, this is the migrate/replacement code */
    jQuery.fn.toggle = function( fn, fn2 ) {
      // Don't mess with animation or css toggles
      if ( !jQuery.isFunction( fn ) || !jQuery.isFunction( fn2 ) ) {
        return oldToggle.apply( this, arguments );
      }
      // Save reference to arguments for access in closure
      var args = arguments,
      guid = fn.guid || jQuery.guid++,
      i = 0,
      toggler = function( event ) {
        // Figure out which function to execute
        var lastToggle = ( jQuery._data( this, "lastToggle" + fn.guid ) || 0 ) % i;
        jQuery._data( this, "lastToggle" + fn.guid, lastToggle + 1 );
        // Make sure that clicks stop
        event.preventDefault();
        // and execute the function
        return args[ lastToggle ].apply( this, arguments ) || false;
      };
      // link all the functions, so any of them can unbind this click handler
      toggler.guid = guid;
      while ( i < args.length ) {
        args[ i++ ].guid = guid;
      }
      return this.click( toggler );
    };

    /**
    * Wordwrap
    */
    $('#word_wrap_toggle').toggle(
        function(){
            $('div.snippet pre.highlight').css('white-space', 'pre');
            return false;
        },
        function(){
            $('div.snippet pre.highlight').css('white-space', 'pre-wrap');
            return false;
        }
    );

    /**
    * Line Highlighting
    */
    $('div.snippet th a').each(function(i){
        $(this).click(function(){
            var j = $(this).text();
            $('div.snippet div.line.marked').removeClass('marked');
            $('div.snippet div.line#l'+j).toggleClass('marked');
        });
    });
});
</script>
{% endblock %}
