{% extends "skel.html" %}

{% block top_menu %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <img src="{{ STATIC_URL }}img/geany-36x36.png" class="brand">
            <a class="brand" href="{% url "home" %}">Geany</a>
        </div>
    </div>
</div>
{% endblock %}


{% block main %}
<div class="well">
	<h3>Error:</h3>
	<p class="alert alert-error">
		{% block error_message %}
		{% endblock %}
	</p>
</div>
{% endblock %}
