body {
    background-color: rgb(57, 55, 55);
    padding-top: 3px;
}

.hero-unit {
    /*margin-top: 3px;*/
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    /* make it similar to a well */
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/*
 * Search
 */
#nav_search_text {
    width: 210px;
    height: 18px;
    padding-right: 25px;
    float: left;
}

.navbar-search .search-query {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1;
    width: 10px;
}

#nav_button_search {
    background: url("/static/img/search.png") no-repeat scroll 0% 0% transparent;
    border: medium none;
    box-shadow: none;
    margin-left: -23px !important;
    margin-top: 5px !important;
}

/*
 * Search
 */

div#main-header {
    background-image: url('/static/img/geany.png');
    background-repeat: no-repeat;
    padding-left: 110px;
    padding-bottom: 10px;
    display: block;

    text-shadow: rgba(0, 0, 0, 0.20) 0.2em 0.2em 0.2em;
    font-family: sans-serif;
}

.well h3 {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.well {
    background-color: rgb(241, 241, 241);
    border-radius: 5px 5px 5px 5px;
}


.blog-entry {
    background-color: rgb(225, 225, 225);
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.blog-left {
    float: left;
}

.blog-right {
    margin-bottom: 10px;
    float: right;
    color: rgba(0, 0, 0, 0.65);
    font-size: 85%;
}

.share-twitter, .share-facebook, .share-twitter:hover, .share-facebook:hover {
    margin-bottom: 5px;
}

.small {
    font-size: 85%;
}

p, ul {
    line-height: 20px;
}

hr {
    border-color: rgb(150, 150, 150);
}

/*
 * Footer
 */
#footer .well {
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*
 * Footer
 */

/*
 * Navigation
 * */
.caret {
    border-top: 4px solid rgb(210, 210, 210);
}
.dropdown .caret {
    margin-top: 5px;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    color: rgb(51, 51, 51);
    background-color: rgb(204, 204, 204);
    background-image: linear-gradient(to bottom, rgb(204, 204, 204), rgb(224, 224, 224));
    border-radius: 5px 5px 5px 5px;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: rgb(204, 204, 204);
    background-image: linear-gradient(to bottom, rgb(194, 194, 194), rgb(214, 214, 214));
    border-radius: 5px 5px 5px 5px;
}

.navbar .nav > li > a {
    padding: 5px 15px;
    color: rgb(90, 90, 90);
}

.navbar .well {
    padding-top: 10px;
    padding-bottom: 17px;
    margin-bottom: 15px;
}

/*
 * Navigation
 * */

.pagination {
    margin: 5px 0;
}

.nowrap {
    white-space: nowrap;
}
