
.since, .help {
    font-size: 10px;
}

.valign-middle {
  vertical-align: middle;
}

.input_id_honeypot {
  display:none !important;
}

.ui-icon-search {
    background-image: none;
}

.ui-icon-loading {
    background-image: none;
}

.ui-icon { background-image: none; }
.ui-icon-black { background-image: none; }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	.ui-icon { background-image: none }
	.ui-icon-black { background-image: none }
}

