
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.forkmeongithub {
    position: absolute;
    top: 40px;
    right: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

.jumbotron .text-big {
    font-size: 160%;
    line-height: 120%;
}

#main-download-button {
    margin-top: 30px;
}

.plugin-button-group a {
    margin-top: 10px;
    margin-right: 10px;
}

.jumbotron {
    padding-top: 20px;
}

.jumbotron h1 {
    padding-bottom: 20px;
    font-size: 32px;
}

.jumbotron {
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    padding-bottom: 58px;
}

.jumbotron .btn {
    padding: 8px 12px;
    margin: 10px 20px 20px 0px;
    font-weight: 400;
    font-size: 16px;
}

.navbar img.navbar-brand {
    padding: 5px 5px;
}

.navbar {
    min-height: 40px;
}

/* add offset to anchor links to take the fixed navbar height into account */
:target { scroll-margin-top: 60px; }

.carousel {
    margin-bottom: 10px;
}

.carousel-indicators {
    top: -35px;
    left: auto;
    right: 15px;
    width: auto;
}

.carousel-indicators li {
    border-color: rgb(150, 150, 150);
    border-style: solid;
    border-width: 1px;
}

.carousel-indicators .active {
    background-color: rgba(190, 190, 190, 0.5);
}

#content-main .well {
    padding-top: 3px;
}

#content-main .well h1 {
    padding-bottom: 10px;
}

#footer .well {
    padding: 10px;
}

#footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}

pre {
    padding: 5px;
    background: rgb(230, 230, 230);
    color: rgb(199, 37, 78);
}

div.feature-icon {
    text-align: center;
}

.feature-icon span {
    background: rgb(50, 118, 177) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    font-size: 3.0em;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    padding: 13px;
    display: inline-block;
}

.feature-icon .glyphicon:empty {
    width: inherit;
}

.news-list li {
    margin-bottom: 10px;
}

/* galery / carousel */
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -55px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -35px;
}

/* basic table formatting: border and cell spacing */
table {
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    border: 1px solid rgb(221, 221, 221);
    padding: 6px;
    line-height: 1.4;
    vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);
}
