<div>
    <h2>About</h2>
    <p>
        <a href="{% url "page" "documentation/screenshots" %}">
            <img src="{{ STATIC_URL }}img/geany_main_small.png"
                 alt="Geany's main screen" title="Geany's main screen"
                 style="float: left; margin-right: 20px;">
        </a>
        Geany is a text editor using the GTK2 toolkit with basic
        features of an integrated development environment. It was developed to
        provide a small and fast IDE, which has only a few dependencies from
        other packages. It supports many filetypes and has some nice features.
        For more details see <a href="{% url "page" "about" %}">About</a>.
    </p>
    <p>
        Latest version is: <a href="{% url "page" "download" %}">{{ geany_latest_version.version }}</a>
    </p>
</div>
