{% extends "base.html" %}
{% load mezzanine_tags news_tags static %}

{% block extra_head %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "news_feed" %}">
<style>
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
		max-height: 400px;
	}
	.carousel-indicators {
		bottom: -40px;
		top: inherit;
		width: 60%;
		left: 50%;
		right: inherit;
	}
	.carousel-inner {
		margin-bottom: 50px;
	}
	.carousel-inner img {
		margin: auto;
	}
	.carousel-control.left, .carousel-control.right {
		background-image: none;
		color: inherit;
	}
	@media only screen and (min-width : 768px) {
		.thumbnail-box {
			height: 400px;
		}
	}
</style>
{% endblock %}

{% block meta_title %}
Home
{% endblock %}

{% block forkmeongithub %}
<a href="https://github.com/geany" class="forkmeongithub"><img src="{% static "img/forkme_right_darkblue.png" %}" alt="Fork me on GitHub"></a>
{% endblock %}

{% block bodyblock %}

	<div class="jumbotron">
		<h1>Geany - The Flyweight IDE</h1>

		<div class="row">
			<div class="col-sm-4">
				<p class="text-big">
					Geany is a powerful, stable and lightweight programmer's text editor
					that provides tons of useful features without bogging down your
					workflow. It runs on Linux, Windows and macOS, is translated into
					over 40 languages, and has built-in support for more than 50 programming
					languages.
					<a href="{% url 'page' 'download/releases' %}" class="btn btn-default btn-primary" id="main-download-button">
						<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
						Download Geany {{ geany_latest_version.version }} &raquo;
					</a>
				</p>
			</div>
			<div class="col-sm-8">
				<div id="screenshot-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
				  <div>
					  <ol class="carousel-indicators">
						<li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#screenshot-carousel" data-slide-to="1"></li>
						<li data-target="#screenshot-carousel" data-slide-to="2"></li>
					  </ol>
				  </div>
				  <div class="carousel-inner thumbnail-box">
					<div class="active item">
						<a href="{% url "page" "documentation/screenshots" %}">
						<img
							src="{{ MEDIA_URL }}{% thumbnail "uploads/screenshots/homepage/geany_dark_2019-05-20.png" 500 0 %}"
							class="img-responsive"
							alt="Main screen">
						</a>
					</div>
					<div class="item">
						<a href="{% url "page" "documentation/screenshots" %}">
						<img
							src="{{ MEDIA_URL }}{% thumbnail "uploads/screenshots/homepage/geany_light_php-2019-06-15.png" 500 0 %}"
							class="img-responsive"
							alt="Main screen with dark theme">
						</a>
					</div>
					<div class="item">
						<a href="{% url "page" "documentation/screenshots" %}">
						<img
							src="{{ MEDIA_URL }}{% thumbnail "uploads/screenshots/homepage/geany_windows_classic-2019-06-09.png" 500 0 %}"
							class="img-responsive"
							alt="Build process">
						</a>
					</div>
				  </div>
				  <a class="left carousel-control" href="#screenshot-carousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#screenshot-carousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 news-list2">
			<div class="feature-icon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
			<h2 class="text-center">News</h2>
			{% get_recent_news %}
		</div>
		<div class="col-md-4">
			<div class="feature-icon"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></div>
			<h2 class="text-center">Fast &amp; Small</h2>
			<p>One of the primary reasons for Geany's existence is that there
			is a need for a decent, GUI, lightweight, cross-platform, flexible
			and powerful IDE/editor. Many editors meet one or more of these
			requirements but fall short on others.
			</p>
			<p>Geany attempts to hit the sweet spot.</p>
			<p><a class="btn btn-default" href="{% url "page" "about/geany" %}">More Features &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<div class="feature-icon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
			<h2 class="text-center">Great Community</h2>
			<p>Geany is Good Ol' Fashioned
			<a href="https://en.wikipedia.org/wiki/Free_software">Free Software</a>.
			Using the <a href="http://www.gnu.org/licenses/gpl-2.0.txt">GPL v2 license</a>,
			Geany assures that not only can you customize and hack it, but
			that everyone benefits from changes the community makes. Geany
			has a vibrant community of professionals and hobbyists alike
			that contribute improvements and fixes across numerous
			platforms including
			<a href="{% url "page" "support/mailing-lists" %}">The Mailing Lists</a>,
			<a href="https://github.com/geany">Github</a>,
			Matrix <a href="https://matrix.to/#/#geany:matrix.org">#geany:matrix.org</a> and
			<a href="https://social.milchreislieferei.de/@GeanyIDE" rel="me">Mastodon</a>.</p>
			<p><a class="btn btn-default" href="{% url "page" "contribute" %}">Get Involved &raquo;</a>
			   <a class="btn btn-default" href="{% url "page" "about/donate" %}">Donate &raquo;</a></p>
	   </div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="feature-icon"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></div>
			<h2 class="text-center">Easily Customizable</h2>
			<p>
				Many parts of Geany are heavily customizable like color themes
				(<a href="{% url "page" "download/themes" %}">Geany Themes</a>) or
				adding new filetypes.
			</p>
			<p>
				Furthermore, Geany provides many settings to let you adjust it
				to your needs and preferences.
			</p>
		</div>
		<div class="col-md-4">
			<div class="feature-icon"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></div>
			<h2 class="text-center">Many Filetypes</h2>
			<p>
				Many supported filetypes including popular programming languages like
				C, Java, PHP, HTML, JavaScript, Python or Perl.
			</p>
			<p>
				But Geany also includes support
				for other useful filetypes like ini-style config files,
				Diff output, SQL files and many more
				(<a href="{% url "page" "about/filetypes" %}">get the full list</a>)
			</p>
	   </div>
		<div class="col-md-4">
			<div class="feature-icon"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></div>
			<h2 class="text-center">Many Plugins</h2>
			<p>
				With Geany's plugin system, users can get more features into Geany and
				developers can easily add new features and/or improve existing ones.
			</p>
			<p>
				<div class="plugin-button-group">
					<a class="btn btn-default" href="https://plugins.geany.org/geanyvc.html">VCS Plugin (Git, SVN, ...)</a>
					<a class="btn btn-default" href="https://plugins.geany.org/spellcheck.html">SpellCheck</a>
					<a class="btn btn-default" href="https://plugins.geany.org/projectorganizer.html">Project Organizer</a>
					<a class="btn btn-default" href="https://plugins.geany.org/pohelper.html">Translation Helper</a>
				</div>
				<div class="plugin-button-group">
					<a class="btn btn-primary" href="{% url "page" "support/plugins" %}">Find more plugins &raquo;</a>
				</div>
			</p>
		</div>
	</div>

	<hr>

{% endblock %}
